.features {
    
    .feature-grid {
        display: grid;
        grid-template-columns: 1fr;           
        gap: 6vw 10vw;        
        margin: 0 auto;
        
        @include breakpoint(medium){ 
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(large){       
            gap: 7vw 7vw;
        }
    }

    .feature {
        text-align: center;
        margin-bottom: 50px;

        @include breakpoint(large){       
            margin-bottom: 30px;
        }

        &-image {
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 90px;
            margin-bottom: 20px;  
            
            img {
                height: 100%;
                width: auto;
            }
        }

        &-title {
            font-family: $font-title;
            color: $ctaPink;
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 16px;

            @include breakpoint(large){       
                font-size: 1.5rem;
            }
        }

        &-description {
            font-size: 0.85rem;

            @include breakpoint(large){       
                font-size: 0.9rem;
            }
        }
    }
}